* {
  text-align: center
}

.simpleView {
    width: 25vw;
      height: 20vh;
      border: 1px solid black;
      margin: 2px
}

.detailView {
    width: 80vw;
      height: 20vh;
      border:1px solid black;
      margin: '2px';
      color: white
}



